@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Forum', sans-serif;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.container {
    position: relative;
    background-image: url('/Users/max.barkman/Desktop/Websites/Lost Mines/Phandelver/background_recap.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden; /* Ensure no overflow */
    padding-top: 20px; /* Add padding to top for spacing */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(93, 76, 54, 0.5); /* Brown tint */
}

.parchment {
    position: relative;
    width: 70%;
    max-width: 900px;
    background-image: url('/Users/max.barkman/Desktop/Websites/Lost Mines/Phandelver/parchment.png'); /* Use your parchment image */
    background-size: cover; /* Ensure the image covers the whole area */
    background-repeat: repeat-y; /* Repeat vertically */
    padding: 40px 20px 80px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-100%);
    animation: slideDown 1s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 100px);
    overflow-y:auto;
}

@keyframes slideDown {
    to {
        transform: translateY(0);
    }
}

.content {
    text-align: center;
    color: black;
    opacity: 0;
    animation: fadeIn 1s forwards 1s;
    width: 100%;
    padding: 0 60px; /* Add padding to the left and right to center the text */
    box-sizing: border-box; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.header {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 3rem;
    margin-top: 70px;
    margin-bottom: 20px;
}

.text {
    font-family: 'Forum', sans-serif;
    font-size: 1.2rem;
    margin: 5px 0;
    text-align: left;
}

.image-placeholder {
    width: 70%; /* Set width to 70% */
    height: 400px;
    background-image: url('/Users/max.barkman/Desktop/Websites/Lost Mines/Phandelver/worldmap.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto; /* Center it horizontally */
    border: 0px solid #ccc;
}

.button {
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 10px 70px;
    border: 2px solid black;
    border-radius: 0px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
    position: absolute; /* Fix the button position */
    bottom: 30px; /* Position it 20px from the bottom of the parchment */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%);
}

.button:hover {
    background-color: black;
    color: rgb(174, 138, 89);
    text-shadow: none;
}
